<br>
<form action="" class="example-form">
  <mat-form-field class="example-full-width">
  <mat-label>Number</mat-label>
    <input type="text" matInput [formControl]="mydata" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let number of filterdOption|async" [value]="number">{{number}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<br>

<mat-chip-list>
  <mat-chip>Home</mat-chip>
  <mat-chip>About</mat-chip>
  <mat-chip color="accent" selected>Contact us</mat-chip>
  <mat-chip color="primary" selected>Gallery</mat-chip>
</mat-chip-list>

<br>
<app-dialog-component></app-dialog-component>

<mat-tab-group mat-align-tabs="start" animationDuration="2000ms">
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<br>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<br>

<mat-tab-group mat-align-tabs="end">
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>