<br>
<form action="" class="example-form">
  <mat-form-field class="example-full-width">
  <mat-label>Number</mat-label>
    <input type="text" matInput [formControl]="mydata" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let number of filterdOption|async" [value]="number">{{number}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<br>

<mat-chip-list>
  <mat-chip>Home</mat-chip>
  <mat-chip>About</mat-chip>
  <mat-chip color="accent" selected>Contact us</mat-chip>
  <mat-chip color="primary" selected>Gallery</mat-chip>
</mat-chip-list>